<h1>Places You Have Been</h1>
<h3>Add a new place:</h3>
<form action="/Places" method="post">
  <label for="new-place">Name of city</label>
  <input id="new-place" name="new-place" type="text">
  <label for="new-length">Length of stay</label>
  <input id="new-length" name="new-length" type="text">
  <button type="submit">Add item</button>
</form>
